{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="offer">
    <p class="text-offer">OFFRE EXCLUSIVEMENT SUR CE SITE :-10% SUR TOUTE COMMANDE PASSÉE AVANT 12H00 !!!</p>
</section>
<div class="img-background-presentation">
    <div class="wrapper">
        <div class="content">
            <p class="title-1">Bienvenue sur </p>
            <h1 class="title-2">Le die-vin de Bacchus !</h1>
        </div>
    </div>
</div>
{% endblock %}
