{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="offer">
    <p class="text-offer">OFFRE EXCLUSIVEMENT SUR CE SITE :-10% SUR TOUTE COMMANDE PASSÉE AVANT 12H00 !!!</p>
</div>
<div class="img-background-presentation">
    <div class="wrapper">
        <div class="content">
        </div>
    </div>
</div>
{% endblock %}
