

/*-----navbar------*/

.logo{
    width: 15%;
}

.link-nav{
    color: black;
    font-size: 80%;
    text-decoration: none;
}

.link-nav:hover{
    color: #eb9a5e;
}

.phone-nav{
    color: #eb9a5e;
    margin-top: 1rem;
    margin-left: 3rem;
}

.phone-number-nav{
    color: #eb9a5e;
    margin-top: 1rem;
}

.social-network-nav{
    color: black;
}

.social-network-nav:hover{
    color: #eb9a5e;
}

.shopping-cart-nav{
    color: #eb9a5e;
    margin-left: 3rem;
    margin-right: 3rem;
}

.shopping-cart-nav:hover{
    color: black;
    margin-left: 3rem;
    margin-right: 3rem;
}

/*-----banière------*/

.offer{
    background-color:#eb9a5e;
    margin-bottom: -1rem;
}

.text-offer{
    text-align: center;
    color: white;
    font-size: 150%;
}

.img-background-presentation {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 600px;  
  }

/*-----menu------*/

.menu{
    text-align: center;
}

.menu-choice{
    text-align: center;
    text-decoration: none;
    color: black;
}

.menu-choice-1{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 4rem;
}

.menu-choice-2{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 4rem;
}

.menu-choice:hover{
    text-align: center;
    text-decoration: underline;
    color: #eb9a5e;
}

.menu-choice-1:hover{
    text-align: center;
    text-decoration: underline;
    color: #eb9a5e;
}

.menu-choice-2:hover{
    text-align: center;
    text-decoration: underline;
    color: #eb9a5e;
}

.img-menu{
    width: 50%;
}

.card-size{
    border: none;
}

.card-price{
    color: #eb9a5e;
}

.see-menu-1{
    color: black;
    text-decoration: none;
}

.see-menu-1:hover{
    color: black;
    text-decoration: none;
}

.see-menu-2{
    color: #eb9a5e;
    text-decoration: none;
    margin-left: 2rem;
}

.see-menu-2:hover{
    color: #eb9a5e;
    text-decoration: none;
    margin-left: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    width: 30%;
    font-size: 62%;
}

/*-----address------*/

.address-color{
    background-color: #2e2e2e;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.img-address{
    width: 70%;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    margin-left: 3rem;
}

.h1-address{
    color: white;
    text-align: center;
}

.h2-address{
    color: #eb9a5e;
    text-align: center;
}

.text-address-l-1{
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 100%;
}

.text-address-l-2{
    color: white;
    text-align: center;
    margin-top: -4%;
    font-size: 100%;
}
.text-address-l-3{
    color: white;
    text-align: center;
    margin-top: -4%;
    font-size: 100%;
}

.color-btn-address{
    background-color: #eb9a5e;
    color: white;
    border: solid 1px white;
    border-radius: 50px;
    width: 40%;
}

.color-btn-address:hover{
    background-color: #eb9a5e;
    color: black;
    border: solid 1px black;
}

/*-----vidéo------*/

.img-video{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

/*-----avis------*/

.avis{
    border: solid 1px #eb9a5e;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 5px lightgrey;
}

.hr-avis-1{
    color: black;
    width: 90%;
    border: none;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
}

.hr-avis-2{
    color: black;
    width: 90%;
    border: none;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.quotation-marks-1{
    width: 5%;
    height: 5%;
    margin-top: 1rem;
    padding-right: 1rem;
}

.quotation-marks-2{
    width: 5%;
    height: 5%;
    padding-left: 1rem;
}

.picture-avis{
    width: 10%;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    margin-bottom: 1rem;
}

.text-avis-l-1{
    text-align: center;
    font-size: 100%;
}

.text-avis-l-2{
    text-align: center;
    margin-top: -2%;
    font-size: 100%;
}

.text-avis-l-3{
    text-align: center;
    margin-top: -2%;
    font-size: 100%;
}

.nom-avis{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.circle-avis{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}

.circle-avis:hover{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #eb9a5e;
}

.circle-avis-choice{
    margin-left: 1rem;
    margin-right: 1rem;
    color:  #eb9a5e;
}

/*-----news------*/

.news-description{
    text-align: center;
}

/*-----company------*/

.card-company-size{
    border: none;
    width: 50%;
}

/*-----footer------*/

.footer{
    background-color: #272423;
}

.map-footer{
    width: 100%;
}

.title-footer{
    color: white;
    text-align: center;
}

.hr-footer-1{
    color: white;
    height: 40px; 
    border: 6px white;
    width: 23%; 
    border: none;
    margin: auto;
    margin-bottom: 1rem;
}

.hr-footer-2{
    color: white;
    height: 2px; 
    width: 18%; 
    border: none;
    margin: auto;
    margin-bottom: 3rem;
}

.text-footer{
    color: white;
    text-align: center;
}

.input-footer{
    align-items: center;
    text-align: center;
    width: 55%;
    font-size: 62%;
}

.btn-footer{
    border: solid 1px white;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    width: 30%;
    font-size: 62%;
}

.btn-footer:hover{
    border: solid 1px #eb9a5e;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.phone-logo-footer{
    color: white;
}

.phone-number-footer{
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
}

.social-network-footer{
    color: #eb9a5e;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    font-size: 150%;
}

.size-logo{
    width: 100%;
    height: 100%;
}

.social-network-footer:hover{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.link-footer{
    color: white;
    text-decoration: none;
}

.link-footer:hover{
    color: #eb9a5e;
    text-decoration: none;
}
